/* Impostazioni generali */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4; /* Sfondo grigio chiaro */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Contenitore del gioco */
.game-container {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

/* Stile per il titolo */
h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Stile per il punteggio */
#score {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Feedback dell'utente */
#feedback {
  color: #f39c12;
  margin-bottom: 20px;
}

/* Stile per il campo di input */
#user-input {
  padding: 10px;
  width: 80%;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Pulsante indovina */
#submit-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #27ae60;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

#submit-btn:hover {
  background-color: #2ecc71;
}

/* Contenitore del risultato */
#game-result {
  display: none;
}

#game-result p {
  font-size: 18px;
  color: #27ae60;
  font-weight: bold;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #2980b9;
}

/* Nascondi il risultato quando il gioco non è finito */
.hidden {
  display: none;
}

/* Specifiche per il bottone "Torna alla Home" */
#go-home-btn {
  background-color: #e74c3c;
}

#go-home-btn:hover {
  background-color: #c0392b;
}
