/* Stile dell'intestazione per il nome utente e il punteggio */
.user-info {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

#user-name {
  margin-right: 20px;
}

#user-score {
  color: #4CAF50; /* Verde per il punteggio */
}

/* Stile per i pulsanti dei giochi */
.game-buttons {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.game-button {
  background-color: transparent;
  border: 2px solid #4CAF50;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin: 20px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.game-button img {
  width: 60%;
  height: auto;
}

.game-button:hover {
  background-color: #f0f0f0;
}

/* Stile per il tasto di logout */
.logout-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 15px;
  background-color: #FF5722;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.logout-btn:hover {
  background-color: #e64a19;
}
