/* Stile dell'intestazione per il nome utente e il punteggio */
.user-info {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

#user-name {
  margin-right: 20px;
}

#user-score {
  color: #4CAF50; /* Verde per il punteggio */
}

/* Stile per i pulsanti dei giochi */
.game-buttons {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  gap: 20px; /* Distanza tra i pulsanti */
}

.game-button {
  background-color: transparent;
  border: 2px solid #4CAF50;
  padding: 0;
  border-radius: 10px;
  width: 250px;
  height: 250px;
  text-align: center;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-icon {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.game-text {
  position: absolute;
  top: 10px;
  font-size: 18px;
  color: white;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.game-button:hover {
  background-color: #f0f0f0;
  transform: scale(1.05); /* Effetto di ingrandimento */
  transition: transform 0.2s ease;
}

/* Stile per il tasto di logout */
.logout-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 15px;
  background-color: #FF5722;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.logout-btn:hover {
  background-color: #e64a19;
}
